<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <navbar th:insert="~{index :: navbar}"></navbar>

    <!-- TITOLO CENTRATO -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="textRed size" th:text="${title}"></h2>
            </div>
        </div>
    </div>

    <!-- TABELLA RESPONSIVE -->
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle text-center">
                <thead class="table-light">
                    <tr>
                        <th class="fw-bold">Nome e Cognome</th>
                        <th class="fw-bold">Email</th>
                        <th class="fw-bold">Cellulare</th>
                        <th class="fw-bold">Data di nascita</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${user.name + ' ' + user.surname}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.tel}"></td>
                        <td th:text="${#temporals.format(user.dob, 'dd/MM/yyyy')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer th:insert="~{index :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>