/* varie */

body {
    padding-top: 14vh;
}

/* colors */
.whiteBG {
    background-color: white;
}

.red {
    background-color: rgb(254, 0, 2);
}

.green {
    background-color: rgb(1, 165, 42);
}

.blue {

    background-color: rgb(0, 0, 126);
}

.redB {
    border: 5px solid rgb(254, 0, 2);
}

.blueB {
    border: 5px solid rgb(0, 0, 126);

}

.greenB {
    border: 5px solid rgb(1, 165, 42);

}

.textWhite {
    color: white;
}

.textBlue {
    color: rgb(0, 0, 126);
}

.textGreen {
    color: rgb(1, 165, 42);
}

.textRed {
    color: rgb(254, 0, 2);
}

.textblack {
    color: black;
}

/* img */
.fitImage {
    width: 100%;
    height: 86vh;
    object-fit: cover;
    object-position: center;
}

/* height */
.vh8 {
    height: 80%;
}

.vh6 {
    height: 6vh;
}

.vh100 {
    height: 100vh;
}


.half {
    height: 25%;
}

/* width */

.maxwidht {
    width: 100%;
}

.maxHeight {
    height: 100%;
}

/* navbar */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(255, 255, 255) !important;
}

.navbar-brand img {
    max-height: 100px;
}

.nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.nav-link {
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
}

/* homepage */

.hero {
    position: relative;
    width: 100%;
    height: 86vh;
    background-image: url("/images/productsBG.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgb(254, 0, 2);
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-logo {
    width: 500px;
    height: auto;
    max-width: 80%;
}

.productBG {
    background-image: url("/images/darkHeroSection.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/* buttons */
button {
    background-color: rgb(119, 0, 0);
    border: 0px;
}

.redBtn {
    border: 3px solid rgb(254, 0, 2);
    background-color: white;
    padding: 5px;
}

.redBtn:hover {
    border: 3px solid rgb(254, 0, 2);
    background-color: rgb(254, 0, 2);
    color: white;
    padding: 5px;
}

.cleanA {
    text-transform: none !important;
}

.cleanA:hover {
    text-decoration: underline !important;
    color: black;
}


/* font */
* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 3rem;
}

h2 {

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;

}

h3 {
    font-size: 1.8rem;
    font-weight: 200;
}

h5 {
    font-size: 120%;
}

.size {
    font-weight: 500;
    font-size: 3rem;
}








.borderBotRed {
    border-bottom: 5px solid rgb(254, 0, 2);
}

/* footer */

footer {
    /* position: fixed;
    bottom: 0; */
    background-color: rgb(40, 40, 40);
}

footer a:hover {
    color: rgb(254, 0, 2);
}


/* media query */

@media (max-width: 768px) {
    .vh30 {
        height: auto;
        padding: 3rem 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem !important;
    }

    .col-11 {
        padding: auto;
    }

    .redB,
    .greenB,
    .blueB {
        margin: 0px !important;
    }

}

html,
body {
    overflow-x: hidden;
}